extends default-layout


block wrapper_content
  #page-error-container
    h2 Error
    p An error occured on the previous page! I will sort this out as soon as possible with some awesome Hackuto trick!
    img(src="/images/kenshiro.jpg", width="300px", height="250px")
