extends default-layout


block blog-content
  .post-full
    h2 About Me
    p
      | I am Kenshiro. The goal of this blog is to share my musings and projects with the rest of the connected world.
    p
      | I hope you will enjoy reading my posts and commenting. I am currently mastering the deadly arts of Node.js & Google Go (I already am lethal on Core Java).
    p
      | I am also reachable via email on <em>kenshiro@kenshiro.me</em>: drop me a line and I'll make sure to respond!

    h2 What is Hackuto-Shinken?
    p
      em Hackuto-Shinken
      |  is a variant of the mighty <a class="no-link" href="http://hokuto.wikia.com/wiki/Hokuto_Shin_Ken"> Hokuto Shinken</a>

      | , an invincible fictional Martial Arts, which can only be passed down to one heir (and... his name is Kenshiro;) ).
    p
      | Hackuto-Shinken is the collection of techniques that I have gleaned on my journey as a hacker and wannabe tech entrepreneur. I hope you will all embrace the path of the Hackuto!
    img(src="/images/HokutoNoKen.jpg", width="300px", height="250px")