extends default-layout


block blog-content
  .post-full
    h2 About Me
    p
      | I am Kenshiro (You guessed right - this is not my real name!). The goal of this blog is to share my musings and projects with the rest of the connected world.
    p
      | I hope you will enjoy reading my posts and commenting. I am currently mastering the deadly arts of Node.js (I already am lethal on Core Java).

    h2 What is Hackuto-Shinken?
    p
      em Hackuto-Shinken
      |  is a variant of the mighty
      a(href="http://hokuto.wikia.com/wiki/Hokuto_Shin_Ken")  Hokuto Shinken
      | , an invincible fictional Martial Arts, which can only be passed down to one heir.
    p
      | Hackuto-Shinken is the collection of techniques that I have gleaned on my journey as a hacker and wannabe tech entrepreneur. I hope you will all embrace the path of the Hackuto!
    img(src="/images/HokutoNoKen.jpg", width="300px", height="250px")