doctype
html(lang="en")
  head
    title= pageTile
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    header
      h1#blog-main-title= blogTitle
      h2#blog-sub-title= blogSubtitle


    #content
      #main-content
        block blog-content



      #widgets
        #widget-pages
          h3 Pages
          h4
            a(href="/") Home
          h4
            a(href="/about") About
          h4
            a(href="#") Contact


        #widget-posts
          h3 Latest Posts

          ul
            for post in posts
              li #{post.title}


    footer
      p Powered by Node2Blog