extends default-layout


block blog-content
  .post-full
    h2 Projects
    p
      | I have a couple of projects hosted on <a class="no-link" href="https://github.com/kenshiro-o">github</a>.
      | They are all currently using node.js but I will also add Go and Java projects too.

    h2 Project List

    p
      | <a class="no-link" href="https://github.com/kenshiro-o/login-utils"><strong>login-utils</strong></a>: login-utils is a very simple user authentication library. The library has a default User MangoDB model (using mongoose). Moreover, the encryption of the password is performed using bcrypt.

    p
      | <a class="no-link" href=""><strong>RapGenius-js</strong></a>: rapgenius-js is a simple client that enables you to query <a class="no-link" href="http://www.rapgenius.com">RapGenius</a> and retrieve information about rap artists and songs.

    p
      | <a  class="no-link" href="https://github.com/kenshiro-o/wikipedia-js"><strong>wikipedia-js</strong></a>: wikipedia-js is a simple client that enables you to query Wikipedia articles in english. The format of the result is among json, jsonfm, wddx, wddxfm, xml, rawfm. In the case of html the result is formatted in basic HTML. You can retrieve either a summary of an article (i.e. before the table of contents) or a full article.