@font-face {
 font-family: telegrafico;
 src: url("../images/telegrafico.ttf");
}
#header {
	/*background:url('../images/micro_carbon.png');*/
	
	 /* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(bottom, #222222 0%, #111111 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(bottom, #222222 0%, #111111 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(bottom, #222222 0%, #111111 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #222222), color-stop(1, #111111));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(bottom, #222222 0%, #111111 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to top, #222222 0%, #111111 100%);
	height: 100%;
	margin: 0;
}
#title {
	max-width: 1000px;
	font-size: 500%;
	color: #fff;
	margin: 0 auto;
	font-family: telegrafico;
}
#subTitle {
	max-width: 1000px;
	font-size: 130%;
	margin: 0 auto;	
	margin-bottom: 15px;
}