body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,  
li, dl, dt, dd, form, a, fieldset, input, th, td  
{  
margin: 0; padding: 0; border: 0; outline: none;  
}  

body  
{  
line-height: 1;  
font-size: 100%;
margin: 0 auto;
height:100%;
}  
h1, h2, h3, h4, h5, h6, p, label
{  
font-size: 100%;  
margin: 0px;  
}  
h1{
	padding-top: 10px;
	padding-bottom: 20px;  
	font-family: Helvetica;
}
ul, ol  
{  
list-style: none;  
}  
a  
{  
font-family: Helvetica;
color: #505050;  
text-decoration: none;  
}  
a:hover  
{  
color: #808080;
cursor: pointer;
}  
p 
{
font-size: 130%;
font-family:Helvetica;
color: #505050;
}
label
{
font-family:Helvetica;
font-style: italic;
color: #505050;
}

#box{
	max-width: 100%;
	min-width:100%;
	margin: 0 auto;
}


