header{
    min-width: 940px;
    width: 100%;
    margin: 0;
    display: block;
    border-bottom: 2px solid #100d2c;
    text-align: center;

}

#content{
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    overflow: auto;
}

#main-content{
    width: 70%;
    margin: 5px 10px 100px 5px;
    float: left;

}

.post-extract{
    max-height: 150px;
    overflow-y: hidden;
}

.post-full{

}

.post-content{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #000;
}

#widgets{
    width: 20%;
    float: left;
}


#widget-pages{
    border: 1px solid #100d2c;
    margin-bottom: 10px;
}

#widget-pages > h4{
    border-bottom: 1px solid red;
    margin: 0;
    text-align: center;
}

#widget-pages > h4:last-of-type{
    border-bottom: none;
}

#widget-posts{
    border: 1px solid #100d2c;
}

footer{
    clear: both;
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    background: #d9d4d7;
    color: #FFF;
    text-align: center;
}