#content{
	width:100%;
	height: 100%;
	margin: 0 auto;
	max-width: 1000px;

}

#wrapper {
	float:left;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 71.3%;
	height: 100%;
	padding: 25px;
	margin-bottom: 50px;
	

}

.nicEdit-selected {
        border: 1px solid #ddd !important;
}

.nicEdit-main {
	background-color: #fefefe;
}
 
.nicEdit-button {
        background-color: #fff !important;
}

iframe::-webkit-scrollbar {
    width: 10px;
    
}
 
iframe::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
    background-color: #E9E9E9;
}
 
iframe::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #555;

}

.widget{
	float:right;
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 16%;
	
	height: 100%;
	padding: 25px;
	margin-bottom: 20px;
	margin-left: 18px;
	white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.container {

	   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.container h1 {
	font-size: 70px;
  	font-family: sans-serif;
  	color: #505050;
}

.container p {
	font-size: 20px;
  	font-family: sans-serif;
  	color: #393939;
}

#formNew{
	margin-left: 20px;
	color:505050;
}

#formNew input[type='text'] {
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 300px;
	height: 40px;
	font-size: 20px;
	padding-left: 10px;
    color:#505050;

}

#formNew input[type='submit'] {
	border: 1px solid #A0A0A0;
	border-radius: 5px;
	width: 200px;
	height: 60px;
	font-size: 25px;
	background-color: #858585;
	color: #fff;
}

#formNew input[type='submit']:active{
	color:#858585;
	background-color: #f6f6f6;

}

#formNewTextarea {
	border-radius: 5px;
	border: 1px solid #ddd;
	width: 98%;
	height: 450px;
	font-size: 25px;
	padding: 10px;
	resize:none;
	outline:0px !important;
    -webkit-appearance:none;
    background: #fff;
    color:#505050;
}

#post_table{

}

.post{
	border: 1px solid #ccc;
	background: #f7f7f7;
	padding: 25px;
	margin-bottom: 10px;
	   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#left{
	float:left;
	width:20px;
}

#right{
	float:left;
	width: 140px;
}

#comment_form{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 500px;
	height: 80px;
	font-size: 20px;
	padding: 10px;
	resize:none;
	outline:0px !important;
    -webkit-appearance:none;
}

#submitComment{
	border: 1px solid #A0A0A0;
	border-radius: 5px;
	width: 130px;
	height: 30px;
	font-size: 20px;
	background-color: #858585;
	color: #fff;
}

#submitComment:active{
	color:#858585;
	background-color: #f6f6f6;

}

#nameComment{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 200px;
	height: 20px;
	font-size:20px;
	padding: 10px;
	resize:none;
	outline:0px !important;
    -webkit-appearance:none;
}

#admin_check{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 300px;
	height: 40px;
	font-size:25px;
	padding: 10px;
	resize:none;
	outline:0px !important;
    -webkit-appearance:none;
}
